<div class="container py-5 text-center">
  <div class="alert alert-success">
    <h3><i class="fas fa-check-circle"></i> 送信が完了しました</h3>
  </div>

  <div class="card mt-4 text-left shadow-sm">
    <div class="card-body">
      <h5>タイトル: <%= @title %></h5>
      <hr>
      <p><%= simple_format(@body) %></p>
    </div>
  </div>
  
  <%= link_to "グループ詳細へ戻る", group_path(@group), class: "btn btn-outline-secondary mt-4" %>
</div>