<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">管理者ダッシュボード</h1>
      <p class="lead mt-3">ログインに成功しました！ここは管理者専用ページです。</p>
      
      <div class="mt-5">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
</div>